<?xml version="1.0" ?>
<openbox_menu>
<menu id="root-menu" label="">
  <item label="Terminal"><action name="Execute" command="terminator"/></item>
  <separator />
  <item label="Thunar"><action name="Execute" command="thunar"/></item>
  <item label="Firefox"><action name="Execute" command="firefox"/></item>
  <item label="Discord"><action name="Execute" command="discord"/></item>
  <item label="Steam"><action name="Execute" command="steam"/></item>
  <item label="Element"><action name="Execute" command="element-desktop"/></item>
  <item label="Geany"><action name="Execute" command="geany"/></item>
  <menu id="Dotfiles" label="Dotfiles">
	<item label="menu.xml"><action name="Execute" command="geany ~/.config/labwc/menu.xml"/></item>
	<item label="autostart"><action name="Execute" command="geany ~/.config/labwc/autostart"/></item>
	<item label="conky.conf"><action name="Execute" command="geany ~/.config/conky/conky.conf"/></item>
	<item label="themerc"><action name="Execute" command="geany ~/.config/labwc/themerc-override"/></item>
	<item label="waybar css"><action name="Execute" command="geany ~/.config/waybar/style.css"/></item>
  </menu>
  <menu id="GUI" label="GUI">
	<item label="Restart Conky"><action name="Execute" command="conky"/></item>
	<item label="Reconfigure"><action name="Reconfigure"/></item>
  </menu>
  
  <item label="Exit"><action name="Exit"/></item>
</menu>
</openbox_menu>
